<!DOCTYPE html>
<html>
<head>
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 2px solid black;
    padding: 8px;
}

#customers tr:nth-child(even){background-color:red;}

#customers tr:hover {background-color:blue;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: middle;
    background-color: #900000;
    color: white;
}
</style>
</head>
