.topnav {
    background-color: 960000;
    overflow: hidden;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
}

.topnav a:hover {
    background-color: #FEFEFE;
    color: 960000;
}

a:link {
    color: white;
}

.carousel-inner {
  height: 500px;
}

#meatteam {
  margin-left: auto ;
  margin-right: auto ;
}

#maintitle {
  font-size: 60px;
  text-align: center;
  background: #9c1a1a;
  color: white;
}

p {
  font-size: 22px;
}

#strapline {
  font-size: 25px;
  text-align: center;
  color: #9c1a1a;
}

nav {
  height: 50px;
>>>>>>> b1195c2cb03caea41cd0391d8b7dee492ac39e93
}

#contact-title {
  font-size: 60px;
  text-align: center;
  background: #9c1a1a;
  color: white;
}

#menu-title {
  font-size: 60px;
  text-align: center;
  background: #9c1a1a;
  color: white;
}

th, td {
    padding: 15px;
}

table, th, td {
    border: 1px solid black;
}


#menu-table {
  background-color: #FEEEEE
}
