.topnav {
    background-color: 960000;
    overflow: hidden;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
}

.topnav a:hover {
    background-color: #FEFEFE;
    color: 960000;
}

a:link {
    color: white;
}

.carousel-inner {
  height: 500px;
}

#meatteam {
  margin-left: auto ;
  margin-right: auto ;
}

#maintitle {
  font-size: 60px;
  text-align: center;
  background: #9c1a1a;
  color: white;
}

p {
  font-size: 22px;
}

#strapline {
  font-size: 25px;
  text-align: center;
  color: #9c1a1a;
}

nav {
  height: 50px;
}

#contact-title {
  font-size: 60px;
  text-align: center;
  background: #9c1a1a;
  color: white;
}

#menu-title {
  font-size: 60px;
  text-align: center;
  background: #9c1a1a;
  color: white;
}

th, td {
    padding: 15px;
}

table, th, td {
    border: 1px solid black;
}

#menu-table {
  background-color: #FBF4F4
}

#stuffneedingcentring {
  text-align: center;
}

#invisible-text {
  color: red;
}

.btn-twitter:focus, .btn-twitter.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

#calendar {
  float: left;
}

#eventlist {
  float: right;
  width: 750px;
  font-size: 22px;
}

#notnav {
  padding-left: 100px;
  padding-right: 100px;
}
